<section class="card">
   <div class="card-body">
      <h1>About</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At unde corporis explicabo distinctio facere consectetur sequi fuga, pariatur totam, aspernatur officiis iste neque ab dolorem quo tempore ea? Illum, esse!</p>
   </div>
</section>